* { margin: 0; padding: 0; text-align: center;}

.box {
    width: 600px;
    height: 600px;
    margin: 50px auto;
}

.simple {
    /* 여기에 작성해보세요:) */
}
.degree {
   /* 여기에 작성해보세요:) */
}
.pie {
    /* 여기에 작성해보세요:) */
}
.pie2 {
    /* 여기에 작성해보세요:) */
}

.position {
   /* 여기에 작성해보세요:) */
}