
section.slide {
    width: 4200px;     /* 이미지 1400px X 3장 = 4200px */
    /* width: calc(1400*3); */
    height: 600px;
    position: relative;
    overflow: hidden;
}

section.slide ul {
    /* 여기에 작성해보세요:) */
}

@keyframes slide {
    /* 여기에 작성해보세요:) */
}

section.slide ul li {
    /* float: left; */
    width: 1400px;
    height: 600px;
    box-sizing: border-box;
}

section.slide ul li img {
    width: 100%;
    height: 100%;
}

